[user]
  name  = Yamaguchi Takuya
  email = yamat47.thirddown@gmail.com
[core]
  editor = nvim -c \"set fenc=utf-8\"
  pager  = less
[color]
  status = auto
  diff   = auto
[diff]
  compactionHeuristic = true
[alias]
  a          = add .
  br         = branch --verbose --verbose --color
  ca         = commit -v --amend
  cf         = commit -v --fixup=HEAD
  ci         = commit -v
  co         = checkout
  d          = diff
  ds         = diff --stat
  dmb        = !git branch --merged | egrep -v '\\*|master|release' | xargs git branch -d
  f          = fetch
  pf         = fetch --prune
  pl         = pull
  ps         = push
  g          = grep --line-number --show-function --color --heading --break
  l          = log
  ls         = ls-files
  onelinelog = log --oneline
  rhs        = reset --soft HEAD~
  ri         = !sh -c 'git rebase -i HEAD~$0'
  s          = status --branch --short
  sd         = diff --staged
  sw         = switch
  swf        = !git branch -a | fzf | xargs git switch
  unstage    = reset HEAD --
  wt         = worktree
[commit]
  cleanup = scissors
[pull]
  rebase = true
[init]
  defaultBranch = main
[ghq]
  root = /Users/takuya_yamaguchi/src
