[user]
  name  = Yamaguchi Takuya
  email = yamaguchi.takuya.lr@gmail.com
[core]
  editor = nvim -c \"set fenc=utf-8\"
  pager  = less
[color]
  status = auto
  diff   = auto
[diff]
  compactionHeuristic = true
[alias]
  a          = add .
  br         = branch --verbose --verbose --color
  ci         = commit -v
  co         = checkout
  d          = diff
  ds         = diff --stat
  dmb        = "!f () { git branch --merged | egrep -v '\\*|master|release' | xargs git branch -d; }; f"
  f          = fetch
  pf         = fetch --prune
  pl         = pull
  ps         = push
  g          = grep --line-number --show-function --color --heading --break
  l          = log
  ls         = ls-files
  onelinelog = log --oneline
  s          = status --branch --short
  sd         = diff --staged
  unstage    = reset HEAD --
  wt         = worktree
[commit]
  cleanup = scissors
